your.domain.com {
    encode gzip

    basicauth {
        # generate your password with Caddy
        amada <YOUR_HASH_HERE>
    }
    reverse_proxy icpm:8000
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options DENY
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
    }

    log {
        output stdout
        format console
    }
}
